doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        
        // No tengo tan claro el porque la ruta ASI - /../css/styles.css 
        link(rel="stylesheet", href="/../css/styles.css")
        link(rel="stylesheet", href="/../css/crear.css")
        link(rel="icon", href="/img/luna.png", type="image/x-icon")
        title #{titulo}
    body 

        
  
        header.flex-between 
            .flex-center 
                a(href="/")  
                    img(class="logo" src="/../img/logito3.jpg")
                span(class="span-autor") Master Reiki Usui Rose Mary Alvez
                img( class="img-menu" src="/../img/menu.png" alt="Icono menu")
            
            nav.menu 
                ul(class="flex-around menu-lista")
                    li
                        a(href=`/auth/${usuario}/index`) Inicio
                    li
                        a(href=`/auth/${usuario}/crear-post`) Crear Post
                    li 
                        a(href=`/auth/${usuario}/perfil`) Perfil #{miniName}
                    li
                        a(href="#") Nosotros
                    li 
                        a(href="#") Bienvenido #{name}
                    li 
                        a(class="logout") Cerrar Sesión
                    li    
                        div(class="li-btn-notificaciones") 
                            img(src="/../img/notificacion.png" class="icono-notificacion")
                            span(class="notificacion-numero  notificacion-numero-normal") 0

    
        div(class="container")
            main(class="principal")
                article(class="crear-post") 
                    h1 Editar Publicacion
                    form(class="formulario" action="/auth/actualizar-post" method="POST" enctype="multipart/form-data") 
                        ul
                            li 
                                label(for="") ID 
                                span(type="text") !{id}
                                input(type="text" name="id" value=`${id}` style="display: none" ) 
                            li 
                                label(for="" class="label-crear") Imagen
                                div(class="grid-input-img") 
                                    input(type="file" name="imagen" id="imagen-post" style="display: none") 
                                    label(for="imagen-post" class="label-imagen") Seleccionar Archivo
                                    div(class="span-foto") !{imagenMin} 
                            li 
                                label(for="text" class="label-crear") Titulo
                                input(type="text" name="titulo" id="titulo-post"  class="input-crear" value=`${titulo}`)                      
                            li 
                                label(for="text" class="label-crear") Autor
                                input(type="text" name="autor" id="autor-post"  class="input-crear" value=`${autor}`) 
                            li 
                                label(for="text" class="label-crear") Fecha
                                input(type="date" name="fecha" id="fecha-post" class="input-crear" value=`${fecha}`)
                            div(class="div-li-contenido") 
                                each  value, nombre in nuevoContenido
                                    li(class=`li-${ nombre } li-parrafos`) 
                                        div
                                        textarea(name=`${ nombre }`, class=`parrafos-post lleno ${ nombre }`) !{value} 
                                        div
                                        span(class=`quitar-${ nombre } btn-quitar-contenido`) Quitar
                            
                            li(id="li-agregar") 
                                label(for="text" class="btn-agregar agregar-parrafo label-crear") Agregar Parrafo
                                label(for="text" class="btn-agregar agregar-subtitulo label-crear") Agregar Subtitulo  
                            li(id="agregar-input")

                            li(class="agregar-texto") 
                                span Previsualizar el Contenido
                                span(data-id="agregar" id="agregar-texto") Agregar Texto
                                span(class="span-enter")  Presionar Enter 

                            li(class="li-button") 
                                h2 Crear Post 
                                button(id="enviar-post" type="submit") Finalizar
                            
                article(class="preview")
                    h1(class="pre-titulo titulo-post")  !{titulo}
                    img( class="pre-img" src=`${imagen}` alt="Previsualizacion de la Foto")
                    div.flex-between
                        p(class="pre-fecha") !{fecha}
                        p(class="autor-post") Autor: 
                            strong(class="pre-autor")  !{autor}
                    div(class="pre-contenido contenido-post") 
                    each  val in contenido
                        div.texto-post !{val} 
                
                 
    script(src="/../js/middlewares-front.js") 
    script(src="/../js/crearEditar-front.js") 

                       
         
                     