doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/../css/styles.css")
        link(rel="stylesheet", href="/../css/eliminar.css")
        link(rel="icon", href="/../img/luna.png", type="image/x-icon")
        title #{titulo}
    body 

        
  
        header.flex-between 
            .flex-center
                a(href="/")   
                    img(class="logo" src="/../img/logito3.jpg")
                span(class="span-autor") Master Reiki Usui Rose Mary Alvez
                img( class="img-menu" src="/../img/menu.png" alt="Icono menu")
            
            nav.menu 
                ul(class="flex-around menu-lista")
                    li
                        a(href=`/auth/${usuario}/index`) Inicio
                    li
                        a(href=`/auth/${usuario}/crear-post`) Crear Post
                    li
                        a(href="#") Nosotros
                    li 
                        a(href="#") Bienvenido #{name}
                    li 
                        a(class="logout") Cerrar Sesión


        div(class="container flex-center")
            main.div-eliminar
                h1 ¿Desea borrar la Publicacion: !{titulo}?
                div(class="flex-center")
                    span.id-borrar !{id} 
                div(class="div-eliminar-btns flex-center")
                    h2.confirm Confirmar 
                    h2.delete 
                        a(href="/") Cancelar   
    
                

    script(src="/../js/middlewares-front.js")    
    script(src="/../js/eliminar.js") 

                       
         
                     