doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/../css/styles.css")
        link(rel="stylesheet", href="/../css/perfil.css")
        link(rel="stylesheet", href="/../css/usuarios.css")
        link(rel="icon", href="/../img/luna.png", type="image/x-icon")
        title #{titulo}
    body 

        include includes/headerAdmin.pug

        div(class="container flex-center")
          main
            h1 Listado de Usuarios
            ul.lista-usuarios 
                each  user in usuarios 
                    li
                        ul.lista-categorias-usuario.flex 
                            li.flex-center      
                                div( class="perfil-imagen" style={"background-image":`url(${ user.imagen })`, "background-position": "center center",  "background-repeat": "no-repeat", "background-size" : "cover"})
                            li.flex-center      
                                div 
                                    strong Usuario 
                                div !{ user.usuario }
                            li.flex-center      
                                div 
                                    strong Correo
                                div !{ user.correo }
                            li.flex-center      
                                div 
                                    strong Rol
                                div(class="usuario-rol") !{ user.rol }
                            li.flex-center   
                                div 
                                    strong Activo: 
                                div !{ user.estado }
                            li.flex-center    
                                a(href=`/auth/${ usuario }/eliminar-usuario/${ user.usuario }`)
                                    img(src="/../img/eliminar.png" class="img-eliminar-usuario pointer" alt="Icono para cambiar el rol de un usuario")
                            li.flex-center    
                                img(src="/../img/editar.png" class="img-editar-rol pointer" alt="Icono para eliminar un usuario")

        include includes/divNotificaciones.pug 
                                    
        include includes/menuPhone.pug 


    script(src="/js/helpers/middlewares-front.js" type="module")    
    script(src="/../js/usuarios.js")   