doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
       
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="icon", href="/img/luna.png", type="image/x-icon")
        title #{titulo}

    body 
    
        include ../includes/headerAdmin.pug
                        
        main.container 
            .blog
                each  publicacion in registros
                    a(href=`/auth/admin/${ usuario }/publicaciones/${ publicacion.url}`) 
                        div(class="post"  data-id=`${ publicacion.url }`)

                            div(class="div-imagen" data-id=`${ publicacion.url }`)
                                img(src=`${ publicacion.imagen }`, class="post-img" alt="" width="400" height="200")

                            div(class="post-div-contenido" data-id=`${ publicacion.url }`)
                                div(class="header-contenido flex-between")
                                    span(class="post-autor" data-id=`${ publicacion.url }`) Autor: 
                                        strong !{ publicacion.autor }
                                    span(class="post-fecha")  !{ publicacion.fecha }
                                h2(class="post-titulo")  !{ publicacion.titulo }
                                div(class="post-contenido" data-id=`${ publicacion.url }`) !{ publicacion.contenido[0] }
                        
        include ../includes/divNotificaciones.pug 
                                    
        include ../includes/menuPhone.pug 

        include ../includes/footer.pug 
                
    script(src="/js/helpers/middlewares-front.js" type="module") 
    script(src="/js/index-front.js" type="module") 