doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")

        link(rel="stylesheet", href="../css/styles.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="icon", href="../img/luna.png", type="image/x-icon")
        title #{titulo}

    body 

        header.flex-between 
            .flex-center 
                img(class="logo" src="../img/logito3.jpg")
                span(class="span-autor") Master Reiki Usui Rose Mary Alvez
                img( class="img-menu" src="../img/menu.png" alt="Icono menu")
            
            nav.menu 
                ul(class="flex-around menu-lista")
                    li
                        a(href="/") Inicio
                    li
                        a(href="#") Nosotros
                    li
                        a(href="#") Contacto
                    li
                        a(href="/login.html") Iniciar Sesion
                    li
                        a(href="/registro.html") Registrarse
                    li 
                        
             
        .container 
            span !{usuario}
            .blog
               each  publicacion in registros
                    a(href=`/publicaciones/${ publicacion.url}`) 
                        div(class="post"  data-id=`${ publicacion.url }`)

                            div(class="div-imagen" data-id=`${ publicacion.url }`)
                                img(src=`${ publicacion.imagen }`, class="post-img" alt="")

                            div(class="post-div-contenido" data-id=`${ publicacion.url }`)
                                div(class="header-contenido flex-between")
                                    span(class="post-autor" data-id=`${ publicacion.url }`) Autor: 
                                        strong !{ publicacion.autor }
                                    span(class="post-fecha")  !{ publicacion.fecha }
                                h2(class="post-titulo")  !{ publicacion.titulo }
                                div(class="post-contenido" data-id=`${ publicacion.url }`) !{ publicacion.contenido[0] }
   
        footer
            span.footer-copy © 2022 Espacio Luz de Luna
            .footer-info 
                div Tel: 26131674 
                div Cel: 26131674
             

    script(src="/js/index-front.js")         
