doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
       
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="icon", href="/img/luna.png", type="image/x-icon")
        title #{titulo}

    body 

        header.flex-between 
            .flex-center.header-elementos 
                img(class="logo" src="/img/logito3.jpg")
                span(class="span-autor") Master Reiki Usui Rose Mary Alvez
                img( class="img-menu" src="/img/menu.png" alt="Icono menu")
            
            nav.menu 
                ul(class="flex-around menu-lista")
                    li
                        a(href=`/auth/${usuario}/index`) Inicio
                    li
                        a(class="ref-crear" href=`/auth/${usuario}/crear-post`) Crear Post
                    li
                        a(href="#") Nosotros
                    li
                        a(href=`/auth/${usuario}/perfil`) Perfil #{miniName}
                    li 
                        a(class="logout") Cerrar Sesión
                    li
                        div(class="li-notificaciones") 
                            img(src="/../img/notificacion.png" class="icono-notificacion")
                            span(class="notificacion-numero notificacion-numero-normal") !{ cantidad_notificaciones }
    
        main.container 
                span.frase-cabecera.flex-center Inserte su frase de cabecera 
                .blog
                    each  publicacion in registros
                        a(href=`/auth/${ usuario }/publicaciones/${ publicacion.url}`) 
                            div(class="post"  data-id=`${ publicacion.url }`)

                                div(class="div-imagen" data-id=`${ publicacion.url }`)
                                    img(src=`${ publicacion.imagen }`, class="post-img" alt="")

                                div(class="post-div-contenido" data-id=`${ publicacion.url }`)
                                    div(class="header-contenido flex-between")
                                        span(class="post-autor" data-id=`${ publicacion.url }`) Autor: 
                                            strong !{ publicacion.autor }
                                        span(class="post-fecha")  !{ publicacion.fecha }
                                    h2(class="post-titulo")  !{ publicacion.titulo }
                                    div(class="post-contenido" data-id=`${ publicacion.url }`) !{ publicacion.contenido[0] }
                        

        div(class="contenedor-notificaciones")
            div(class="titulo-notificaciones") 
                h3 Notificaciones
            ul(class="lista-notificaciones") 
                each notificacion in notificaciones 
                    li.li-notificacion
                        a(href=`/auth/elgero16/publicaciones/${ notificacion.url_publicacion }`)  
                            div(class="div-notificacion flex-between") 
                                div(class="img-user")
                                    img(src="/img/avatar1.png", alt="" class="avatar-notificacion")
                                div(class="div-mensaje-notificacion ")
                                    p(class="mensaje-notificacion") !{notificacion.nombre_remitente} ha comentado tu Publicación 
                                    span(class="fecha-mensaje-notificacion") 12 de Julio, 2023
                 
        nav.menu-phone.ocultar-transition
                ul(class="flex-column text-align-center menu-lista-phone ")
                    li
                        a(href=`/auth/${usuario}/index`) Inicio
                    li
                        a(class="ref-crear" href=`/auth/${usuario}/crear-post`) Crear Post
                    li
                        a(href="#") Nosotros
                    li
                        a(href=`/auth/${usuario}/perfil`) Perfil #{miniName}
                    li 
                        a(class="logout") Cerrar Sesión
                    li
                        div(class="li-notificaciones-mobile") 
                            span Notificaciones
                            span(class="notificacion-numero  notificacion-numero-mobile") !{ cantidad_notificaciones }

        footer(class="flex-around")
            span © 2022 Espacio Luz de Luna
            div 
                div Tel: 26131674 
                div Cel: 26131674
                
    script(src="/js/middlewares-front.js") 
    script(src="/js/index-front.js") 