nav.menu-phone.ocultar-transition
    ul(class="flex-column text-align-center menu-lista-phone ")
        li
            a(href=`/auth/${usuario}/index`) Inicio
        li
            a(class="ref-crear" href=`/auth/${usuario}/crear-post`)  Crear Publicación
        li
            a(href="#") Nosotros
        li
            a(href=`/auth/${usuario}/perfil`) Perfil #{miniName}
        li 
            a(class="logout") Cerrar Sesión
        li
            div(class="li-notificaciones-mobile") 
                span Notificaciones
                span(class="notificacion-numero  notificacion-numero-mobile") !{ cantidad_notificaciones }

